button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increase the gap between textboxes */
    position: relative;
    color: black; /* Change text color to black */
    margin-bottom: 15px; /* Add spacing between textboxes */
  }
  
  .container .label {
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 5px; /* Add spacing below labels */
    color: black; /* Change label color to black */
  }
  
  .input {
    width: 100%; /* Adjust width to fit container */
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: black; /* Change text color to black */
    font-size: 15px;
    background-color: white; /* Change background color to white */
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: black; /* Change text color to black */
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .container .input:valid ~ .label,
  .container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
  }
  
  .container .input:valid,
  .container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  